#intro .inner nav ul li a {
    color: #032452;
}

.account_form label {
    clear:left;
    min-width:200px;
    border-bottom:1px solid #eee;
    display:block;
    float:left;
}
.account_form input, .account_form select {
    display:inline-block;
    float:left;
    margin-bottom:20px;
} 

.nav_box {
    width: 200px;
}

.nav_box li a {
    display: block;
    -moz-border-radius:10px;-webkit-border-radius:10px;
    -moz-box-shadow:0 1px 2px #e3e3e3;-webkit-box-shadow:0 1px 2px #e3e3e3;
    background-color:#f6f6f6;
    border:1px solid #cbd5d9;
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
}

.nav_box a:hover {
    background-color: #e3e3e3;
}