/*
    style.css

    organization based on:
     http://developers.whatwg.org/content-models.html

    01 - Reset
    02 - Structure
    03 - Headings
    04 - Text
    05 - Lists
    06 - Forms
    07 - Embeds
    08 - Grid
    09 - Mobile
    10 - Print
*/

/* 
    01 - Reset 
*/
h1,h2,h3,h4,h5,h6,address,blockquote,div,p,pre,code,body,dl,dt,dd,ol,ul,li,fieldset,form,input,legend,textarea { 
    margin:0; 
    padding:0; 
}
object { 
    outline:none; 
}
article,aside,footer,header,nav,section { 
    display:block;
}

/* 
    02 - Structure
*/
html {
    position:relative;
    overflow-y:scroll; /* Force scrollbar */
}
body {
    font:62.5% Helvetica, Arial, sans-serif; /* 10px assuming browser default of 16px */
    color:#1a1a1a;
    background:transparent;
}
.inner {
    font-size:1.4em; /* 14px */
    line-height:1.6em; /* 16px */
    /* http://cssgrid.net */
    width:100%;
    max-width:1140px; /* Full width */
    margin:0 auto;
    position:relative;
}
.intro {
    padding:20px 0;
    margin-bottom:60px;
    background:#e6eef1;
    border-bottom:1px solid #9bafc0;
    overflow:hidden;
}
.focus {
    background:#f6f6f6;
    padding:6px 0;
    margin-top:30px;
}
.focus .inset {
    border-top:1px solid #cbd5d9;
    border-bottom:1px solid #cbd5d9;
    background:#fff;
    padding:20px 0;
}
.padding {
    padding:40px 0;
}
.inner_padding {
    padding:20px 14px 10px 14px;
}
.box {
    -moz-border-radius:8px;-webkit-border-radius:8px;
    -moz-box-shadow:0 1px 2px #e3e3e3;-webkit-box-shadow:0 1px 2px #e3e3e3;
    background-color:#f6f6f6;
    border:1px solid #cbd5d9;
}
header {
    background:#032452;
    border-bottom:2px solid #1a3962;
    padding:40px 0;
}
nav {
    width:400px;
    float:right;
}
footer {
    margin-top:80px;
    background:#04152c;
    border-top:2px solid #032452;
    padding:40px 0 10px;
    color:#eee;
}

/* 
    03 - Headings
*/
h1 { 
    display:inline-block;
    overflow:hidden;
    text-indent:-9999px;
    width:239px;
    height:41px;
    background:transparent url(../images/logo-small.gif) no-repeat;
    margin:0 !important;
}
h2 {
    font:200 2.4em 'Helvetica Neue Light Condensed', 'Arial Narrow', sans-serif;
    color:#053251;
    padding-top:10px;
    padding-bottom:20px;
}
h3 {
    font:800 1.2em Helvetica, Arial, sans-serif;
    padding-bottom:10px;
    color:#032452;
}
h4 {
    font:800 1.2em Helvetica, Arial, sans-serif;
}
h5 {
    
}
h6 {
    
}

/* 
    04 - Text
*/
a:hover, a:active { 
    outline:none; 
}
a, a:active, a:visited { 
    color:#607890;
}
a:hover { 
    color:#036;
}
a.active {
    border-bottom:1px solid #607890;
}
nav > ul > li > a {
    color:#fff;
    text-decoration:none;
}
span.date {
    color:#aaa;
    font-weight:800;
}
address,cite,dfn,em,var { 
    font-style:italic; 
}
blockquote { 
    padding:0 0 2em 0; 
    font-size:0.9em; 
    line-height:1.4em; 
}
p,pre {
    text-indent:0;
    padding:0 0 2em 0; 
}
p.big {
    font:200 2.4em 'Helvetica Neue Light Condensed', 'Arial Narrow', sans-serif;
    text-shadow:0 0 1px #fff;
    padding:0;
    color:#697075;
}
.button {
    position:relative;
    display:inline-block;
    padding:10px 14px 9px;
    -moz-border-radius:8px;-webkit-border-radius:8px;
    -moz-box-shadow:0 1px 2px #c1ccd3;-webkit-box-shadow:0 1px 2px #c1ccd3;
    background-color:#00b9f1;
    background-image:url(../images/button-overlay.png);
    background-repeat:repeat-x;
    border:1px solid #636768;
    color:#fff !important;
    line-height:1;
    text-decoration:none;
    text-shadow:0 1px 2px #555;
}
.button:hover {
    background-color:#00aadd;
}
.button:active {
    background-image:url(../images/button-overlay-reverse.png);
    border-color:#051f2e;
    -moz-box-shadow:0px 1px 2px #eee;-webkit-box-shadow:0px 1px 2px #777;
}
.button.darker {
    -moz-box-shadow:0 1px 2px #111;-webkit-box-shadow:0 1px 2px #111;
    border:1px solid #000;
}

.button.grey {
    background-color:#cbcbcb;
}
.button.grey:hover {
    background-color:#bebebe;
}

.button.orange {
    background-color:#ff8400;
}
.button.orange:hover {
    background-color:#ff7700;
}
#intro .button {
    width:15%;
    text-align:center;
    padding:14px 14px;
    position:absolute;
    bottom:-28px;
    left:0;
    font-size:1.2em;
    font-weight:800;
}
#try_demo {
    left:20% !important;
}

/* 
    05 - Lists 
*/
ol,ul { 
    padding:0 0 2em 0; 
}
ol > li { 
    list-style:decimal outside none; 
    margin-left:20px;
}
ul > li { 
    list-style:disc outside none; 
}
dt {
    font:800 1.2em Helvetica, Arial, sans-serif;
    padding-bottom:10px;
    color:#032452;
}
dd {
    margin-bottom:40px;
}
.index ul > li {
    list-style:none outside none;
}
nav > ul {
    text-align:right;
    padding:0;
}
nav > ul > li {
    display:inline-block;
    margin-left:20px;
    margin-top:10px;
}

/* 
    06 - Forms 
*/
form {
    padding:20px;
    -moz-border-radius:10px;-webkit-border-radius:10px;
    background:#e6eef1;
}
input[type=text] {
    border:1px solid #9bafc0;
    -moz-border-radius:8px;-webkit-border-radius:8px;
    font:400 1em Helvetica, Arial, sans-serif;
    padding:0.6em 1em;
}
label, input[type=button], input[type=submit], button { 
    cursor:pointer;
}
#newsletter input[type=text] {
    width:70%;
    font-size:1.2em;
}
#newsletter input[type=submit] {
    font-size:1.2em;
    font-weight:800;
    margin-left:2%;
}

/* 
    07 - Embeds
*/
img { 
    border:0; 
    vertical-align:top;
}
.text-replace { 
    overflow:hidden;
    text-indent:-9999px;
}

/* 
    08 - Grid
*/
/* Based on The 1140px Grid by Andy Taylor - http://cssgrid.net */
.column { float:left; margin-right:3.8%; }
.column.last { margin-right:0; }
.column.one { width:4.85%; }
.column.two { width:13.5%; }
.column.three { width:22.15%; }
.column.three_and_a_half { width:28%; }
.column.four { width:30.8%; }
.column.five { width:39.45%; }
.column.six { width:48.1%; }
.column.seven { width:56.75%; }
.column.eight { width:65.4%; }
.column.nine { width:74.05%; }
.column.ten { width:82.7%; }
.column.eleven { width:91.35%; }
.column.twelve,.full { width:100%; }
div.inner:after, .clearfix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height:0;}div.inner, .clearfix {display: inline-block;}* html div.inner, * html .clearfix {height: 1%;}div.inner, .clearfix {display: block; }
.right{float:right !important;}
.left{float:left !important;}
.block { display:block; width:100%; height:100%; }

/*
    09 - Mobile
*/
@media screen and (max-width: 767px) {
/* Mobile adjustments based on The 1140px Grid by Andy Taylor - http://cssgrid.net */
    .inner {
        width:100%;
        margin:0;
        overflow:hidden;
        background:#eee;
    }
    .column.one,.column.two,.column.three,.column.four,.column.five,.column.six,.column.seven,.column.eight,.column.nine,.column.ten,.column.eleven,.column.twelve,.full {
        width:auto;
        float:none;
        margin-right:0;
    }
}

/*
    10 - Print Styles (www.phpied.com/delay-loading-your-print-css/)
*/
@media print {
    * { background:transparent !important; color:#1a1a1a !important; text-shadow:none; }
    a, a:visited { color:#1a1a1a !important; text-decoration:underline; }
    a:after { content: " (" attr(href) ")"; }
    abbr:after { content: " (" attr(title) ")"; }&nbsp;&nbsp;&nbsp;&nbsp;.ir a:after { content: ""; } &nbsp;/* Don't show links for images */&nbsp;&nbsp;&nbsp;&nbsp;pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }&nbsp;&nbsp;&nbsp;&nbsp;img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}

a img {
    text-decoration: none;
    border: 0;
}
.hidden {
    visibility: hidden;
    display: none;
}
.navOn {
    color: blue;
    font-weight: bold;
}
.instructions {
    width: 80%;
    border: 1px solid brown;
    background-color: beige;
    padding: 10px;
    margin: 0 auto 20px auto;
}
.detail_table {
    width: 80%;
    margin: 20px auto 20px auto;
}
.detail_table td {
    vertical-align: top;
}
.section_title {
    width: 80%;
    margin: 20px auto;
}